.user-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(96, 133, 255);
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}